body {
    font-style: normal;
    text-align: center;
    background-color: rgb(21, 21, 21);
    color: white;
}
.Quest{
    font-size: 35px;
}
table {
    font-size: 35px;
    border-collapse: collapse; /* รวมเส้นขอบเขตของเซลล์เป็นเส้นเดียว */
    width: 100%; /* กำหนดความกว้างของตาราง */
    }
h2{
    text-align: left;
}
th , tr{
    border: 1px solid rgb(247, 246, 246); /* เส้นขอบเซลล์ทั้งหมด */
    padding: 8px; /* กำหนดระยะห่างของข้อมูลในเซลล์ */
    text-align: left; 
    
}
.butran{
    font-size: 30px;
    background: rgb(223, 163, 12);
    border: solid 1px rgb(223, 163, 12);
    background: linear-gradient(180deg, rgb(227, 198, 126) 0%, rgb(225, 187, 90) 35%, rgb(221, 165, 25) 100%);
    border-radius: auto;
    color: rgb(241, 235, 235);
}
#Complete{
    font-size: 30px;
    background: rgb(223, 163, 12);
    border: solid 1px rgb(223, 163, 12);
    background: linear-gradient(180deg, rgb(227, 198, 126) 0%, rgb(225, 187, 90) 35%, rgb(221, 165, 25) 100%);
    border-radius: auto;
    color: rgb(231, 228, 228);
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
.modal-content {
    background-color: rgb(21, 21, 21);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 70%; /* ปรับขนาดของหน้าต่างโมดัลในส่วนนี้ */
    height: 70%;

  }
  .modal-setcon , .modal-showset, .modal-showmode{
    background-color: rgb(21, 21, 21);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 70%; /* ปรับขนาดของหน้าต่างโมดัลในส่วนนี้ */
    height: 90%;

  }
  
.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
  }
#congrat , #showtime, #forsomeone{
    font-size: 35px;
  }
.unlock{
    margin-inline: 50%;
  }

.rusure4{
    font-size: 40px;
  }
.NO , .YES {
  font-size: 40px;
  background: rgb(223, 163, 12);
  border: solid 1px rgb(223, 163, 12);
  background: linear-gradient(180deg, rgb(227, 198, 126) 0%, rgb(225, 187, 90) 35%, rgb(221, 165, 25) 100%);
  border-radius: auto;
  color: rgb(235, 231, 231);
}
.NO{
  width: 70%;
  margin: 5%;
}
.YES {
  width: 70%;
}
#setting {
  font-size: 25px;
  text-align: left;
  background: rgb(223, 163, 12);
  border: solid 1px rgb(223, 163, 12);
  background: linear-gradient(180deg, rgb(227, 198, 126) 0%, rgb(225, 187, 90) 35%, rgb(221, 165, 25) 100%);
  border-radius: auto;
  color: white;
  padding: 8px;
  transform: translate(0% , -50%);
  width: auto;
}
.list{
  margin-left: 5%;
  display: inline;
  font-size: 20px;
  
}
#youadd {
  margin-left: 5%;
  font-size: 20px;
  
}
#submitexc{
  display: inline;
  background: rgb(223, 163, 12);
  border: solid 1px rgb(223, 163, 12);
  background: linear-gradient(180deg, rgb(227, 198, 126) 0%, rgb(225, 187, 90) 35%, rgb(221, 165, 25) 100%);
  border-radius: auto;
}
.nav{
  background: rgb(223, 163, 12);
  border: solid 1px rgb(223, 163, 12);
  background: linear-gradient(180deg, rgb(227, 198, 126) 0%, rgb(225, 187, 90) 35%, rgb(221, 165, 25) 100%);
  border-radius: auto;
  color: white;
   font-size: 20px;

}
.headernav {
  display: inline-block;

}
#el {
  padding-inline-start: -30%;
}
#sm {
  margin-inline-start: 30%;
}
fieldset{
  padding-bottom: 20%;
}
.mypic{
  width: 20%;
  height: 20%;
}
.modeb{
  display: block;
  margin-inline-start: 25%;
  font-size: 20px;
  border: 1px solid;
  border-collapse: collapse;
  width: 45%;
  height: 5%;
  background: rgb(223, 163, 12);
  border: solid 1px rgb(223, 163, 12);
  background: linear-gradient(180deg, rgb(227, 198, 126) 0%, rgb(225, 187, 90) 35%, rgb(221, 165, 25) 100%);
  border-radius: auto;
  color: rgb(255, 255, 255);
  font-weight: normal;
}
@media only screen and (max-width: 414px) {
    .mypic{
      width: 40%;
      height: 40%;
    }

.headernav{
    font-size: 15px;
  }

.modal-setcon , .modal-showset, .modal-showmode{
    background-color: rgb(21, 21, 21);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 85%; /* ปรับขนาดของหน้าต่างโมดัลในส่วนนี้ */
    height: 90%;

}
 body{
  font-style: normal;

 }
 #el {
  padding-inline-start: -20%;
}
#sm {
  margin-inline-start: 20%;
}
#submitexc{
  margin-top: 5px;
}
.rusure4 {
  font-size: 20px;
    transform: translate(0% , 200%);

}
.NO {
  font-size: 25px;
  transform: translate(0% , 300%);
}
.YES {
  font-size: 25px;
  transform: translate(0% , 280%);
}
.Quest , .Questthan3 , .butran , .urq , #Time , #Complete{
  font-size: 20px;
}
h1 , #congrat , #showtime , #forsomeone{
  font-size: 25px;
}
}