body {
    font-style: oblique;
    text-align: center;
}
.Quest{
    font-size: 35px;
}
table {
    font-size: 35px;
    border-collapse: collapse; /* รวมเส้นขอบเขตของเซลล์เป็นเส้นเดียว */
    width: 100%; /* กำหนดความกว้างของตาราง */
    }
h2{
    text-align: left;
}
th , tr{
    border: 1px solid black; /* เส้นขอบเซลล์ทั้งหมด */
    padding: 8px; /* กำหนดระยะห่างของข้อมูลในเซลล์ */
    text-align: left; 
    
}
.butran{
    font-size: 30px;
}
#Complete{
    font-size: 30px;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
.modal-content {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 70%; /* ปรับขนาดของหน้าต่างโมดัลในส่วนนี้ */
    height: 70%;

  }
  .modal-setcon , .modal-showset, .modal-showmode{
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 70%; /* ปรับขนาดของหน้าต่างโมดัลในส่วนนี้ */
    height: 90%;

  }
  
.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
  }
#congrat , #showtime, #forsomeone{
    font-size: 35px;
  }
.unlock{
    margin-inline: 50%;
  }

.rusure4{
    font-size: 40px;
  }
.NO , .YES {
  font-size: 40px;
}
.NO{
  width: 70%;
  margin: 5%;
}
.YES {
  width: 70%;
}
#setting {
  font-size: 25px;
  text-align: left;
}
.list{
  margin-left: 5%;
  display: inline;
  font-size: 20px;
  
}
#youadd {
  margin-left: 5%;
  font-size: 20px;
  
}
#submitexc{
  display: inline;
}
.nav{
  background: white;
  border: solid 1px white;
  background: linear-gradient(180deg, #e2dfdf 0%, #d2cdcd 35%, #a7a5a5 100%);
  border-radius: 8px;
  color: white;
   font-size: 20px;
}
.headernav {
  display: inline-block;
}
#el {
  padding-inline-start: -30%;
}
#sm {
  margin-inline-start: 30%;
}